*{
  margin: 0;
  padding: 0;
  
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
.display-flex{
  display: flex;
}
.btn-primary{
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.btn-primary:hover{
  background-color: black;
  color: gold;
}
main{
  max-width: 1440px;
  margin: 0 auto;
}
main > section{
 margin-top: 130px;
}
.text-primary{
  color: #FF900E;
}
/* dark02 */
.text-light-gray{
  color: #727272;
}
/* dark03 */
.text-gray{
  color: #424242;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
.section-title{
  font-size: 2.8rem;
  font-weight: 700;
}
/* header styles */

/* navbar related styles */
.nav-item{
  list-style: none;
  margin-right: 30px;

}
.brand{
  font-size: 2.6rem;
  font-weight: bold;
  padding-left: 10px;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;

}
.navbar{
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;

}

.navbar, .banner{
  margin: 0 auto;
  max-width: 1440px;
}
/* banner related styles  */
.banner-content{
 max-width: 850px;
 margin: 0 auto;
 text-align: center;
 padding-top: 50px;
 margin-bottom: 50px;
}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 30px;

}
.banner-description{
  margin-bottom: 32px;
  line-height: 16px;
}
.banner-image{
  margin-bottom: 45px;
  border-radius: 6px;
  width: 100%;
}
/* team and feature related styles  */
.teams{
  align-items: center;
  gap: 70px;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  border-radius: 8px;
}
.our-features{
  max-width: 530px;
}
.our-features h3, p, button{
  margin-bottom: 30px;
}

#quick-list{
  font-weight: 500;
}
/* some fact related style  */
.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-card{
  border: 1px solid #FF900E;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}
.fact-discription{
  width: 540px;
}
/* sponsor related styles */
.sponsor-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}
.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
  filter: grayscale(100%);
}
/* responsive media query */
@media screen and (max-width: 576px) {
  .navbar, .nav-link, .teams{
    flex-direction: column;
  }
  .team-img-container, 
  .facts-container, 
  .sponsor-companies{
    grid-template-columns: 1fr;
  }
  .our-features{
    margin-left: 20px;
    text-align: center;

  }
  .sponsor-companies{
    justify-items: center;
    gap: 50px;
  }
  .facts-container {
    justify-items: center;
    gap: 24px;
  }
}


/* medium size device */
@media screen and (min-width:576px) and (max-width:992px) {
  .teams{
    flex-direction: column;
  }
  .our-features{
    margin: 50px auto;
  }
  .sponsor-companies, .facts-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
  }
}