*{
  margin: 0;
  
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
.display-flex{
  display: flex;
}
.btn-primary{
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
/* dark02 */
.text-light-gray{
  color: #727272;
}
/* dark03 */
.text-gray{
  color: ;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
/* header styles */

/* navbar related styles */
.nav-item{
  list-style: none;
  margin-right: 30px;

}
.brand{
  font-size: 2.6rem;
  font-weight: bold;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;

}
.navbar{
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;

}

.navbar, .banner{
  margin: 0 auto;
  max-width: 1920px;
}
/* banner related styles  */
.banner-content{
 max-width: 850px;
 margin: 0 auto;
 text-align: center;
 padding-top: 50px;
 margin-bottom: 50px;
}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 30px;

}
.banner-description{
  margin-bottom: 32px;
  line-height: 16px;
}
.banner-image{
  margin-bottom: 45px;
  border-radius: 6px;
  width: 100%;
}

/* responsive media query */
@media screen and (max-width: 576px) {
  .navbar, .nav-link{
    flex-direction: column;
  }
  
}